
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Ysabeau+Office:wght@300;500&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
    padding-bottom: 100px;
    margin: auto;
    background-color: #F7F4EE;
}

#title {
    padding-top: 100px;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}
  
#container {
    margin: auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    padding: 20px;
    background-color: #E0DBDB;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
  
#content {
    background-color: #E0DBDB;
	text-align: center;
    justify-content: center;
    align-items: center;
}
  
.currency-container {
 
    margin: auto;
    display: flex;
    margin-bottom: 20px;
}
  
#image {
    
    background-color: whitesmoke;
    border: 1px solid;
    border-color: gray;
    width: 110px;
    height: 110px;
    margin-right: 10px;
}
  
#image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
#details {
    border: 1px solid;
    border-color: white;
    display: flex;
    flex-direction: column;
}
  
#details p {
    width: 300px;
    margin: 0;
}
  

  
.name-value-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
  
.name-value-container p {
    margin-right: 5px;
    display: inline-block;
}
  
  
#count {
    color: blue;
    cursor: pointer;
}
  
#loading-indicator {
    text-align: center;
    padding: 10px;
}
  
#end-notification {
    text-align: center;
    padding: 10px;
    display: none;
}

#search-input{
    width: 500px;
    height: 30px;
    border-radius: 5px;
}
  
#ratetitle, #rate {
    font-weight: bold;
}